@import './Base/base';


a {
    text-decoration: none;
}
.wrapper {
    min-width: 1440px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header {
    background-image: linear-gradient(to right bottom, rgba(248, 212, 150, .5), rgba(226, 99, 16, .5)),
    url(../img/back2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 4rem;
    height: 80vh;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {
        &-list {
            display: flex;
        }
        &-item {
            margin-left: 5rem;
            font-size: 1.8rem;
            
        }
        &-link {
            color: white;
        }
    }
}
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.btn{
    &:link,
    &:visited {
        text-transform: uppercase;
        padding: 2rem 4rem;
        display: inline-block;
        border-radius: 100px;
        font-weight: 600;
        font-size: 3rem;
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10rem;
        z-index: -1;
        transition: all .4s;
    }
    &-white{
        color: #777777;
        background-color: #fff;

        &::after {
            background-color: #fff;
        }
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 2rem rgba($color: #000000, $alpha: .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: .2);
    }
}
.logo {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    &__text{
        color: #e26310;
    }
    
}