* {
    color: #ffffff;
    /* (255,255,255) */
    color: #f6f6f6;	
    /* (246,246,246) */
    color: #ececec;	
    /* (236,236,236) */
    color: #e1e1e1;	
    /* (225,225,225) */
    color: #d0d0d0;	
    /* (208,208,208) */
    color: #e26310;
    /* RGB: (226, 99, 16) */
    color: #f5761a;
    /* RGB: (245, 118, 26) */
    color: #ffa836;
    /* RGB: (255, 168, 54) */
    color: #f8d496;
    /* RGB: (248, 212, 150) */
    color: #ee8d24;
    /* RGB: (238, 141, 36) */
}
