*, *::before, *::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;
  color: #5a5a5a;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

label {
  font-size: 8rem;
  font-family: "Tangerine", cursive;
  color: #f5761a;
}

h2 {
  text-align: left;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-top: 3rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 3px;
  color: black;
  padding-bottom: 30px;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 30px;
}

.menu-dot-line {
  border-bottom: 2px dotted #E67E22;
  height: 31px;
  overflow: hidden;
  display: block;
}

.width-100 {
  width: 100%;
}

.col-md-4 {
  margin-bottom: 3rem;
}

.col-md-12 {
  z-index: 1;
  text-align: center;
}

.fa-angle-double-up {
  font-size: 1.8rem;
}

.head {
  background-color: #fff;
  width: 100%;
  position: fixed;
  transition: all 0.4s;
  padding-bottom: 3rem;
  z-index: 99;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 0;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.4s;
  z-index: 99;
}

.sticky .logo {
  margin-top: 2.4rem;
}

.sticky .header__menu {
  margin-top: 2.4rem;
}

h1 {
  font-size: 200px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bound {
  0% {
    transform: scale(5, 5);
  }
  100% {
    transform: scale(-50%, -50%);
  }
}
.animationRight {
  animation: moveInRight 1s ease-out;
}

.animationLeft {
  animation: moveInLeft 1s ease-out;
}

.bound {
  animation: bound 1s ease-out;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.wrapper {
  min-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-list {
  display: flex;
}
.header__menu-item {
  margin-left: 5rem;
  font-size: 1.8rem;
}
.header__menu-link {
  color: black;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  text-align: center;
}

.btn {
  font-size: 2rem;
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1.8rem 2.6rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: 600;
}
.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  border-radius: 0.5rem;
  border: 2px solid white;
  z-index: 2;
  transition: all 0.4s;
}
.btn::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  z-index: -1;
  transition: all 0.4s;
}
.btn-orange {
  color: white;
  background-color: #f5761a;
  position: relative;
}
.btn-orange:hover {
  color: white;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-animated {
  font-size: 3rem;
  animation: moveInBottom 0.75s ease-out 1s;
  animation-fill-mode: backwards;
}
.btn-animated:hover::before {
  background-color: #ee8d24;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: black;
}
.logo__text {
  color: #e26310;
}

.background {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.background .background__image {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-attachment: scroll;
  background-color: transparent;
  background-image: inherit;
  background-size: cover;
  z-index: 0;
  background-position: center;
  width: 100%;
  height: 125%;
}
.background label {
  padding-top: 12rem;
}
.background h3 {
  color: white;
}
.background-detail {
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding: 30px 0;
  color: #eee;
}
.background-detail::before {
  position: absolute;
  content: "";
  background-color: #E67E22;
  height: 3px;
  width: 50px;
  top: 0px;
  left: 50%;
  margin-left: -25px;
}

.banner {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 34rem;
}
.banner .banner__image {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-attachment: scroll;
  background-color: transparent;
  background-image: inherit;
  background-size: cover;
  z-index: 0;
  background-position: center;
  width: 100%;
  height: 180%;
}
.banner h2 {
  margin-top: 0;
}
.banner-primary {
  color: #fff;
  text-align: center;
  padding-top: 20rem;
}
.banner-primary--main {
  display: block;
  font-size: 6.8rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  padding-bottom: 18px;
  font-family: "Sansita Swashed", cursive;
  animation: moveInLeft 1s ease-out;
}
.banner-primary--sub {
  display: block;
  font-family: "Tangerine", cursive;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  animation: moveInRight 1s ease-in;
}

.begin__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.begin__item {
  width: calc(33.3% - 4rem);
  position: relative;
  cursor: pointer;
  border-radius: 5rem;
}
.begin__item:hover .overlay {
  opacity: 0.8;
}
.begin__img {
  background-size: cover;
  width: 100%;
  height: 23rem;
  border-radius: 5rem;
}
.begin__img--1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/background.jpg);
}
.begin__img--2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/back1.jpg);
}
.begin__img--3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/carrot2.jpg);
}
.begin__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.overlay {
  position: absolute;
  opacity: 0;
  background-color: #e26310;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  border-radius: 5rem;
}

.story {
  font-size: 2rem;
  width: 95%;
  margin: 0 auto;
}
.story__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story__item:nth-child(odd) {
  background-color: #ececec;
}
.story__item:nth-child(odd) .story__img {
  margin-left: 4rem;
}
.story__item:nth-child(odd) .story__content {
  margin-right: 4rem;
}
.story__item:nth-child(even) {
  flex-direction: row-reverse;
  background-color: white;
}
.story__item:nth-child(even) .story__img {
  margin-right: 4rem;
  text-align: center;
  padding: 5rem;
}
.story__item:nth-child(even) .story__content {
  margin-left: 4rem;
}
.story__item:nth-child(even) i {
  color: #7f6464;
  font-size: 6rem;
  padding-top: 1.6rem;
  letter-spacing: 2rem;
}
.story__img {
  width: 48%;
}
.story__img img {
  display: inline-block;
  width: 80%;
}
.story__img--list {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 5rem;
}
.story__img--item {
  width: 100%;
  padding: 5px;
}
.story__img--item-1 {
  background-image: url(../img/vincent-toesca-zSCOH0_iOZ4-unsplash.jpg);
}
.story__img--item-2 {
  background-image: url(../img/rebecca-hansen-_WpB9l8_Kn4-unsplash.jpg);
}
.story__img--item-3 {
  background-image: url(../img/carrot.jpg);
}
.story__img--image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.story__content {
  width: 48%;
  text-align: center;
}
.story__content--detail {
  margin-bottom: 2rem;
}
.story-background {
  position: relative;
}
.story-background__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/isabela-kronemberger-LxQ0BB10KbQ-unsplash.jpg);
  background-size: cover;
  width: 95%;
  height: 60vh;
  background-position: center;
  margin: 0 auto;
  background-attachment: fixed;
}
.story-background__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}

.order {
  background-color: #ececec;
  font-size: 1.6rem;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: block;
  padding-top: 6rem;
  text-align: center;
  padding-bottom: 4rem;
}
.order label {
  padding-top: 3rem;
  font-size: 5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffa836;
}
.order-wrapper {
  width: 75%;
  display: inline-block;
  margin-bottom: 5rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.order-wrapper img {
  max-height: 180px;
}
.order__description {
  line-height: 1.6rem;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.8rem;
}
.order__right {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid rgba(208, 208, 208, 0.8);
}
.order__left {
  border-top: 1px solid black;
  border-left: 1px solid rgba(208, 208, 208, 0.8);
}
.order__left .row {
  padding-top: 5rem;
}
.order__my-order {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid black;
}
.order__my-pack {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 3px solid black;
  margin-top: 2rem;
}
.order__pack i {
  background-image: linear-gradient(to right, #ffa836, #e26310);
  color: transparent;
  font-size: 8rem;
  margin-bottom: 1.8rem;
  -webkit-background-clip: text;
}
.order__pack--item {
  padding-top: 4rem;
}

.contact {
  background-color: #ececec;
  font-size: 2rem;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: block;
  padding-top: 6rem;
  text-align: center;
  padding-bottom: 4rem;
}

.form {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.form-text {
  width: 100%;
  height: 55px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 20px;
  color: #656565;
  border: 2px solid #454545;
  background-color: transparent;
  font-size: 14px;
  float: left;
}
.form-comment {
  height: 212px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #656565;
  border: 2px solid #454545;
  background-color: transparent;
  font-size: 14px;
  float: left;
}

.special {
  background-color: #ececec;
  font-size: 2rem;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: block;
  padding-top: 7rem;
  text-align: center;
  padding-bottom: 4rem;
}
.special img {
  margin: 0 auto;
  width: 80%;
}

.menu {
  background-color: #ececec;
  font-size: 2rem;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: block;
  padding-top: 7rem;
  text-align: center;
  padding-bottom: 4rem;
}
.menu__image {
  float: left;
  width: 23%;
}
.menu__image img {
  padding: 5px 5px;
  background-color: #fff;
  border-radius: 50%;
}
.menu__description {
  float: left;
  padding-left: 4%;
  width: 73%;
}
.menu__description--list h5 {
  font-size: 20px;
  line-height: 24px;
  vertical-align: bottom;
  font-weight: 700;
  float: left;
  letter-spacing: 2px;
  max-width: 70%;
  padding-right: 12px;
  margin: 12px 0 10px 0;
}
.menu__description--list p.price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: bottom;
  float: right;
  padding-top: 17px;
  padding-left: 12px;
  margin-bottom: 5px;
}
.menu__description--content {
  display: block;
  clear: both;
  width: 100%;
}
.menu-wrapper {
  display: inline-block;
  margin-bottom: 20px;
}
.menu-section__title {
  font-size: 28px;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.menu-section__title::after {
  position: absolute;
  content: "";
  background-color: #E67E22;
  height: 3px;
  width: 50px;
  bottom: -1px;
  left: 0;
}

.partner {
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 5rem;
}
.partner__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.partner__img img {
  width: 24rem;
}

.footer {
  background-color: #191919;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  padding: 5rem;
  padding-bottom: 3rem;
  font-size: 1.8rem;
  color: white;
  line-height: 3rem;
}
.footer__item {
  width: calc(33.3% - 7rem);
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 3rem;
}
.footer__logo {
  color: white;
  font-size: 3rem;
}
.footer__about a {
  color: white;
}
.footer__end {
  border-top: white 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  text-align: left;
  font-size: 1.5rem;
}
.footer__end--item {
  width: calc(33.3% - 2rem);
}
.footer__social {
  letter-spacing: 5px;
}
.footer__social--icon {
  font-size: 2.4rem;
  letter-spacing: 2rem;
  color: white;
}
.footer__social--icon:hover {
  color: #f5761a;
}

@media screen and (max-width: 1023px) {
  h3 {
    font-size: 3rem;
  }

  label {
    font-size: 5rem;
  }

  .header__inner {
    width: 90%;
  }
  .header__menu-item {
    margin-left: 3rem;
    font-size: 1.6rem;
  }

  .banner {
    margin-bottom: 30rem;
  }
  .banner-primary--sub {
    font-size: 3.6rem;
  }
  .banner h2 {
    margin-top: -7rem;
  }

  .btn {
    font-size: 1.4rem;
  }
  .btn:link, .btn:visited {
    padding: 1.2rem 2.2rem;
  }
  .btn-animated {
    font-size: 2.2rem;
  }

  .text-box {
    transform: translate(-50%, 280%);
  }

  .begin__item {
    width: calc(33.3% - 2rem);
  }
  .begin__caption {
    font-size: 2.2rem;
  }
  .begin__img {
    height: 15rem;
    border-radius: 3rem;
  }

  .overlay {
    border-radius: 3rem;
  }

  .story {
    font-size: 1.2rem;
  }
  .story__img--image {
    height: 35vh;
  }
  .story__img--list {
    padding: 4rem;
  }
  .story-background__caption {
    font-size: 1.8rem;
  }
  .story-background__img {
    height: 20vh;
  }

  .menu {
    padding-bottom: 1rem;
  }
  .menu__image {
    width: 27%;
  }
  .menu__description--list h5 {
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 6px;
  }
  .menu__description--list p.price {
    font-size: 1.4rem;
  }
  .menu__description--content {
    font-size: 1.2rem;
  }

  .partner {
    padding-top: 6rem;
    padding-bottom: 1rem;
  }
  .partner__img {
    width: 75%;
    margin-top: 1rem;
  }
  .partner__img img {
    width: 10rem;
  }

  h4 {
    font-size: 2rem;
    padding-bottom: 15px;
  }

  .fa-angle-double-up {
    font-size: 1.2rem;
  }

  .footer {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 4rem;
  }
  .footer__logo {
    font-size: 2rem;
  }
  .footer__item {
    width: calc(28.3% - 9rem);
  }
  .footer__end {
    font-size: 1.2rem;
  }
  .footer__social {
    letter-spacing: 4px;
  }
  .footer__social--icon {
    letter-spacing: 0rem;
    font-size: 1.4rem;
  }
  .footer__address p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .header__menu-item {
    display: none;
  }

  .btn-animated {
    font-size: 1.4rem;
  }
  .btn:link, .btn:visited {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .text-box {
    transform: translate(-50%, 340%);
  }

  .banner {
    margin-bottom: 22rem;
  }
  .banner-primary--main {
    font-size: 3.8rem;
    padding-bottom: 10px;
  }
  .banner-primary--sub {
    font-size: 2.4rem;
  }
  .banner h2 {
    margin-top: -9rem;
  }

  .overlay {
    border-radius: 2rem;
  }

  .begin__item {
    width: calc(33.3% - 1rem);
  }
  .begin__caption {
    font-size: 1.8rem;
  }
  .begin__img {
    height: 12rem;
    border-radius: 2rem;
  }
  .begin__list {
    margin-bottom: 4rem;
  }

  .story {
    font-size: 1.2rem;
  }
  .story__img--image {
    height: 35vh;
  }
  .story__img--list {
    padding: 2rem;
  }
  .story-background__caption {
    font-size: 1.8rem;
  }
  .story-background__img {
    height: 20vh;
  }
  .story__item:nth-child(odd) .story__img {
    margin-left: 2rem;
  }
  .story__item:nth-child(odd) .story__content {
    margin-right: 2rem;
  }
  .story__content {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .story__content--detail {
    margin-bottom: 1.5rem;
  }
  .story-background__caption {
    font-size: 1.2rem;
  }

  label {
    font-size: 4rem;
    padding-bottom: 1.2rem;
  }

  h3 {
    font-size: 2rem;
    padding-bottom: 15px;
  }

  .menu {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .menu__image {
    width: 18%;
    margin-left: 1.8rem;
  }
  .menu__description {
    width: 70%;
  }
  .menu__description--content {
    font-size: 1.3rem;
    text-align: left;
  }

  .partner {
    padding-top: 3rem;
  }

  .footer {
    padding: 4rem;
    padding-bottom: 2rem;
  }
  .footer__social {
    letter-spacing: 2px;
  }
  .footer__social--icon {
    font-size: 1.1rem;
  }
  .footer__end {
    font-size: 1rem;
  }
  .footer__end--item {
    width: calc(33.3% - 1rem);
  }

  .footer__item {
    width: calc(28.3% - 4rem);
  }
}
@media screen and (max-width: 479px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .header__inner {
    margin-left: 5px;
  }

  .head {
    padding-bottom: 2rem;
  }

  .logo {
    font-size: 2.5rem;
  }

  .banner-primary--main {
    font-size: 2.8rem;
    padding-bottom: 5px;
  }
  .banner-primary--sub {
    font-size: 1.4rem;
  }
  .banner h2 {
    margin-top: -10rem;
  }

  .btn:link, .btn:visited {
    padding: 1rem 2rem;
  }
  .btn-animated {
    font-size: 1rem;
  }

  .text-box {
    transform: translate(-50%, 300%);
  }
}
@media screen and (min-width: 1024px) {
  .header__inner {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
