*, *::before, *::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

label {
    font-size: 8rem;
    font-family: 'Tangerine', cursive;
    color: #f5761a;
}
h2 {
    text-align: left;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-top: 3rem;
}
h3 {
    text-transform: uppercase;
    font-weight: 700;    
    font-size: 4rem;
    letter-spacing: 3px;
    color: black;
    padding-bottom: 30px;
}
h4 {
    text-transform: uppercase;
    font-weight: 700;    
    font-size: 3rem;
    padding-bottom: 30px;
}
.menu-dot-line {
    border-bottom: 2px dotted #E67E22;
    height: 31px;
    overflow: hidden;
    display: block;
}

.width-100 {
    width: 100%;
}
.col-md-4 {
    margin-bottom: 3rem;
}
.col-md-12 {
    z-index: 1;
    text-align: center;
}
.fa-angle-double-up {
    font-size: 1.8rem;
}
.head {
    background-color: #fff;
    width: 100%;
    position: fixed;
    transition: all .4s;
    padding-bottom: 3rem;
    z-index: 99;
}
.sticky {
    background-color: rgba($color: #fff, $alpha: 0.8);
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 0;
    top: 0;
    left: 0;
    position: fixed;
    transition: all .4s;
    z-index: 99;
}
.sticky .logo {
    margin-top: 2.4rem;
}
.sticky .header__menu{
    margin-top: 2.4rem;
}
// 
h1 {
    font-size: 200px;
}
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } 
}
  
@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } 
}
  
@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(10rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } 
}

@keyframes bound {
    0% {
        transform: scale(5,5);
        // transform: scale3d(.25);
    }
    100% {
        
        transform: scale(-50%, -50%);
        // transform: scale3d(1);
    }
}
.animationRight {
    animation: moveInRight 1s ease-out;
}
.animationLeft {
    animation: moveInLeft 1s ease-out;
}
.bound {
    animation: bound 1s ease-out; 
}
input {
	outline: none;
	border: none;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}